body{
	font-family: arial;
}

h2{
	font-family: georgia;
	font-size: 30px;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    height: 150px;

}

#header{
	background-color: silver;
	width: 700px;
	height: 150px;
	margin:0px auto;
	

}

#container{
	border-width: 1px;
	width: 648px;
	border-style: solid;
	border-color: gray;
	padding: 25px;
	margin: 0px auto;
}

#footer{
	background-color: black;
	color: white;
	width: 700px;
	height: 40px;
	margin: 0px auto;
}

.footer{
	display: block;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 10px;
}
